{% if include.args.size > 0 %}
	<h3>引数</h3>
	<table class="arguments">
		{% for arg in include.args %}
			<tr>
				<td>
					{% if include.link %}
						<code><a href="#schema-{{ arg[0] }}">{{ arg[0] }}</a></code><br />
					{% else %}
						<code>{{ arg[0] }}</code><br />
					{% endif %}
				</td>
				<td>
					{% if arg[1].description %}
						<p>{{ arg[1].description }}</p>
					{% endif %}
					{% if arg[1].required %}
						<p class="required">
							必須: {{ arg[1].required }}
						</p>
					{% endif %}
					{% if arg[1].default %}
						<p class="default">
							初期値: <code>{{ arg[1].default }}</code>
						</p>
					{% endif %}
					{% if arg[1].enum %}
						<p>次のいずれか: <code>{{ arg[1].enum | join:"</code>, <code>"}}</code></p>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p>このエンドポイントには引数がありません。
{% endif %}
